/* *{
    margin: 0;
    padding: 0;
} */


h1{

    text-align: center;
}

#board{
    background-color: blanchedalmond;
    width:700px;
    height: 700px;
    margin: 0 auto;                                 /* centers the board */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.tile {
    background-color: aqua;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding:0;
    margin: 0;
}


/* power tile styling */

.triple-word {
    background-color: red;
    text-align: center;
    font-size: 10px;
}


.double-letter{
    background-color:  lightblue;
    text-align: center;
    font-size: 10px;
}

.double-word {
    background-color: orange;
    text-align: center;
    font-size: 10px;
}
.triple-letter {
    background-color: lightpink;
    text-align: center;
    font-size: 10px;
}

.star{
    background-image: linear-gradient(red, yellow, purple);;
}


